@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

@import "~bulma/bulma";

.is-clickable {
  cursor: pointer;
}

.is-full-height {
  height: calc(100vh - (3.25rem - 0.75rem));
}

.is-scrollable {
  height: 100%;
  overflow-y: auto;
}

.loader-wrapper {
  height: 100%;
  width: 100%;
  background: transparent;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }
}
